.tile{
    border:solid 2px blue;
    display:flex;
    flex-direction:column;
    background-color: lightskyblue;
    text-align: center;
    margin-left: 2vw;
    height:350px;
    width:150px;
    border-radius: 15px;
    color:white;
    
}
.weatherModel{
 
}
.tile:hover{
    transform:scale(1.1);
    cursor:pointer;
}

.widget-container{
    display:flex;
    justify-content: center;
}
p{
    margin-bottom:0;
    margin-top:0;
}
h1{
    margin:0;
}
h2{
    margin:0;
}
h3{
    margin:0;
}
h4{
    margin:0;
}