.wrapper{
    display: flex;
    flex-direction: row;
}
.forecast-tile{
    border:solid 2px gold;
    display:flex;
    flex-direction:column;
    text-align: center;
    margin-left: 10px;
    height:auto;
    width:155px;
    border-radius: 5px;
    color:white;
    background-color: rgba(17, 153, 135, 0.3);
}
.forecast-tile-wrapper{
    height:auto;
    width:155px;
    border-radius: 5px;
    background-color: rgba(17, 153, 135, 0.3);
}
.forecast-tile:hover{
    transform:scale(1.05);
    cursor:pointer;
}

.widget-container{
    display:flex;
    justify-content: center;
}

p{
    margin-bottom:0;
    margin-top:0;
}
h1{
    margin:0;
}
h2{
    margin:0;
}
h3{
    margin:0;
}
h4{
    margin:0;
}