body{
  background-color:lightskyblue;

}
.tiles{
  display:flex;
  flex-direction: row;
  margin-top:20vh;
  justify-content: space-evenly;
}
.topHalf{
  text-align: center;
}
#citySelector{
  width: 40vw;
}